<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">FX</span><span class="main-header__title--orange">Acessorios</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li><a routerLink="products">Inicio</a></li>
                <li><a routerLink="">Calhas</a></li>
                <li><a>Apoios</a></li>
                <li><a>Soleiras</a></li>
                <li><a>Capa Estepe</a></li>
                <li><a routerLink="contato">
                    <i class="fa-solid fa-envelope-open"></i>
                    Contato
                </a></li>
                <li><a routerLink="cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Carrinho
                        <span class="badge-carrinho">0</span>                    
                </a></li>
            </ul>
        </nav>
        <app-search-bar></app-search-bar>
    </div>
</header>
